<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .product {
            border : 1px solid black;
            margin : 5% auto;
            text-align : center;
        }
        .product img {
            height : 100px;
            width : 100px;
        }
    </style>
</head>
<body>
    <h2>Product details:</h2>
    <div class="product">
        <p>Product name: {{product.name}}</p>
        <p>Product image: </p> 
        <img src="{{product.picture}}" alt="img" style="width: 450px; height: 400px">
        <p>Product price: ${{product.price}}</p>
        <p>Product description: {{product.description}}</p>
    </div>
</body>
</html>